.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin: 100px 0;
  }

  h2 {
    margin: 185px 12px 0 12px;
    line-height: 1.8;
  }
}
